div {
    background-color: lightgray;
    color: midnightblue;
}

.container {
    display: flex;
    flex-flow: column;
}

.task {
    display: flex;
    justify-content: space-around;
    width: fit-content;
}